
div#kalenders {
  background-color: #f6eed2;
}

table.beschikbaarheidskalender {
  background-color: white;
 }
table.beschikbaarheidskalender
td.beschikbaarheid-maand {
  color: black !important;
  font-size: 20px !important;
  border:1px solid black !important;
}
